{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <br><br>
    <h4 style="margin-top: 10px">Сообщение оставлено пользователем <b>{{ post.user.name }}</b></h4><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Тема</th>
                <td>{{ post.topic }}</td>
            </tr>
            <tr>
                <th>Текст сообщения</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Оставлено</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Обновлено</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user.email == post.user.email %}
        <a class="btn btn-primary" href="{{ path('post_edit', {'id': post.id}) }}">Отредактировать</a><br>
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
